
nav
{
    background-color: #ffff00c5;
    height: 1.5cm;

}

nav div ul li
{
 
    border-radius: 5px;
    margin: 10px;
    
}
nav div ul li .nav-link
{
    color: rgb(0, 0, 0);
}

nav div ul li.nav-item.asd
{
    margin-left: 400px;
   
    
}
.navbar-toggler
{
    color: black;
    background-color: #cccc02 ;
}



